body{
  background-color: #7f5a83;
  background-image: linear-gradient(270deg, #7f5a83 0%, #0d324d 74%);

  color: white;
}

.container {
  text-align: center;
  height: 100%;
  width: 100%;
}

.menorah {
  background: url('../img/menorah.png');
  background-size: 100% 100%;

  margin: auto;
  width: 960px;
  height: 1000px;

  margin-top: 60px;

  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

.light {
  visibility: hidden;
  display: inline-block;
  margin: auto;
  width: 100px;
  height: 60px;
  position: relative;
  transform-origin: center bottom;
  animation-name: flicker;
  animation-duration: 3ms;
  animation-delay: 1000ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  top: 130px;
}

.light.nine {
  left: 18px;
}
.light.eight {
  top: 143px;
  left: 6px;
}

.light.seven {
  top: 146px;
  left: -5px;
}

.light.six {
  top: 154px;
  left: -16px;
}

.light.five {
  top: 54px;
}

.light.four {
  top: 148px;
  left: 24px;
}

.light.three {
  top: 146px;
  left: 38px;
}

.light.two {
  top: 148px;
  left: 42px;
}

.light.one {
  top: 144px;
  left: 36px;
}

.flame {
  bottom: 0;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform: rotate(-45deg) scale(1.5,1.5);
}

.yellow {
  left: 15px; 
  width: 30px;
  height: 30px;
  background:gold;
  box-shadow: 0px 0px 9px 4px gold;
}

.orange {
  left: 10px; 
  width: 40px;
  height: 40px;
  background:orange;
  box-shadow: 0px 0px 9px 4px orange;
}

.red {
  left: 5px;
  width: 50px;
  height: 50px;
  background: OrangeRed;
  box-shadow: 0px 0px 5px 4px OrangeRed;
}

.white {
  left: 15px; 
  bottom: -4px;
  width: 30px;
  height: 30px;
  background: white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle {
  border-radius: 50%;
  position: absolute;
}

.blue {
  width: 10px;
  height: 10px;
  left: 25px;
  bottom:-25px;
  background: SlateBlue;
  box-shadow: 0px 0px 15px 10px SlateBlue;
}

.black {
  width: 40px;
  height: 40px;
  left: 10px;
  bottom: -60px;
  background: black;
  box-shadow: 0px 0px 15px 10px black;
}

@keyframes flicker {
  0%   {transform: rotate(-1deg);}
  20%  {transform: rotate(1deg);}
  40%  {transform: rotate(-1deg);}
  60%  {transform: rotate(1deg) scaleY(1.10);}
  80%  {transform: rotate(-2deg) scaleY(0.86);}
  100% {transform: rotate(1deg);}
}